<footer class="text-center text-lg-start mt-xl-5 pt-4 bg-dark">
    <!-- Grid container -->
    <div class="container p-4 footer-grids">
        <!--Grid row-->
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-white">
                <h5 class="text-uppercase mb-4">Контакты</h5>

                <P>
                    <div>
                        Астана, район Айтеке би 14
                    </div>
                    <div>
                        Подъезд 1, кв 15
                    </div>
                </P>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 border-top copyright">
        © 2024 Авторские права: ТОО Кайф
        <a class="text-white" href="#"></a>
    </div>
    <!-- Copyright -->
</footer>
